<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DataSourceOptions>

    <RepositoryType>EfCore</RepositoryType>
    <UseNoSql>false</UseNoSql>
    
    <MongoDbDataProvider>
      <MongoDbName>MySuperDb</MongoDbName>
      <MongoConnectionString>mongodb://localhost:27017</MongoConnectionString>
    </MongoDbDataProvider>

    <EfCoreDataProvider>
      <ConnectionString>Data Source=SpecificationsLearn.db;</ConnectionString>
      <DataProvider>Sqlite</DataProvider>
    </EfCoreDataProvider>
    
  </DataSourceOptions>
</configuration>